{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<section class="[ showcases ] [] [ region ]">
    <div class="wrapper">
        <h1 class="block__heading">{{ .Params.heading }}</h1>
        <ul class="grid" role="list" data-layout="thirds">
            {{ $pages := where .Pages "Type" "showcases" }}
            {{ $paginator := .Paginate $pages 6 }}
            {{ range $paginator.Pages }}
            <li class="showcase-list__col fade-in">
                <div class="showcase-card" style="background: {{ .Params.images.background }};">
                    <div class="showcase-card__content flow">
                        <h3 class="showcase-card__title">{{ .LinkTitle }}</h3>
                        <p>{{ .Params.client.company }}</p>
                        <a href="{{ .RelPermalink }}" class="showcase-card__link">{{ i18n "view_showcase" }} <ion-icon name="arrow-forward-outline"></ion-icon></a>
                    </div>
                    <figure class="showcase-card__image">
                        <img loading="lazy" width="650" height="650" src="{{ .Params.images.thumbnail }}"
                        alt="{{ .LinkTitle }}">
                    </figure>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="wrapper">
        {{ partial "pagination.html" . }}
    </div>
</section>
{{ partial "block/call-to-action.html" . }}
{{ end }}