{{ define "main" }}
<section class="[ showcase__header ] [] [ region ]">
    <div class="wrapper flow">
        <div class="flow text--centered">
            <h1 class="page-title">{{ .Title }}</h1>
            {{ partial "breadcrumb.html" . }}
        </div>
    </div>
    <figure class="showcase__featured-image" style="background: {{ .Params.images.background }};">
        <img src="{{ .Params.images.full }}" width="1280" height="525.71" alt="">
    </figure>
</section>
<article class="[ showcase ] [ content ] [ flow region ]">
    <div class="showcase__info--data popout">
        <div class="flow">
            <h4 class="block-title color-neutral-950">{{ i18n "showcase_client" }}:</h4>
            <p>{{ .Params.Client.company }}</p>
        </div>
        <div class="flow">
            <h4 class="block-title color-neutral-950">Diensten:</h4>
            {{ with .Params.tags }}
            <ul class="tags" role="list">
                {{ range . }}
                <li><a class="tag" href="{{ " tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
    {{ .Content }}
</article>
{{ end }}