{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<section class="showcase region">
    <div class="wrapper">
        <h1 class="block__title">{{ .Title }}</h1>
        <div class="showcase__info sidebar fade-in">
            <figure class="showcase__info--image" style="background: {{ .Params.images.background }};">
                <img src="{{ .Params.images.full }}" width="1280" height="525.71" alt="">
            </figure>
            <aside class="flow">
                <div class="flow">
                    <h4 class="showcase__info--title">{{ i18n "client" }}</h4>
                    <div class="flow">
                        <p>{{ .Params.client.company }}</p>
                    </div>
                </div>
                <div class="flow">
                    <h4 class="showcase__info--title">{{ i18n "tags" }}</h4>
                    {{ with .Params.tags }}
                    <ul class="tags cluster" role="list">
                        {{ range . }}
                        <li><a class="tag" href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                <div class="flow">
                    <h4 class="showcase__info--title">{{ i18n "result" }}</h4>
                    <a href="{{ .Params.project_url }}" class="button">Bezoek website</a>
                </div>
            </aside>
        </div>
    </div>
</section>
<article class="showcase__content content flow region">
    {{ .Content }}
</article>
{{ end }}