.flex-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    gap: var(--flex-group-gap, .5rem);

    &--spaced {
        width: revert;
        justify-content: space-between;
    }
}