.wrapper {
    --_wrapper-max-width: var(--wrapper-max-width, 97.875rem);
    --_wrapper-padding-inline: var(--wrapper-padding-inline, var(--space-s-m));
    
    max-width: min(var(--_wrapper-max-width), (100% - (var(--_wrapper-padding-inline) * 2)));
    margin-inline: auto;
}

// -
//
// -

.wrapper {
    &--small {
        --wrapper-max-width: 52rem;
    }

    &--wide {
        --wrapper-max-width: 70rem;
    }
}