<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "{{ .Site.BaseURL }}#localbusiness",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL | absURL }}",
  "logo": "{{ .Site.Params.logo | absURL }}",
  "sameAs": {{- $first := true -}}
[
{{- range .Site.Params.social_profiles }}
  {{- if not (strings.HasPrefix . "nostr:") }}
    {{- if not $first }},{{ end }}
    "{{ . }}"
    {{- $first = false -}}
  {{- end }}
{{- end }}
]
}
</script>