@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Wrapper - also known as a container
// -----------------------------------------------------------------------------

// .wrapper {
//     --_wrapper-max-width: var(--wrapper-max-width, #{$wrapper-max-width});
//     --_wrapper-padding-inline: var(--wrapper-padding-inline, #{$wrapper-padding-inline});
    
//     width: min(var(--_wrapper-max-width), (100% - (var(--_wrapper-padding-inline) * 2)));
//     margin-inline: auto;
// }


.wrapper {
    --_wrapper-max-width: var(--wrapper-max-width, #{$wrapper-max-width});
    --_wrapper-padding-inline: var(--wrapper-padding-inline, #{$wrapper-padding-inline});
    
    max-inline-size: min(var(--_wrapper-max-width), (100% - (var(--_wrapper-padding-inline) * 2)));
    margin-inline: auto;
}