@use "./abstracts" as *;

@forward "base";
@forward "composition";
@forward "utilities";
@forward "blocks";


// -----------------------------------------------------------------------------
// Heading(s)
// -----------------------------------------------------------------------------

h1,
h2,
h3 {
    --_heading-foreground: var(--heading-foreground, var(--neutral-950));

    color: var(--_heading-foreground);
    font-family: "Montserrat", sans-serif;
    font-size: var(--heading-font-size, inherit);
    font-weight: var(--heading-font-weight, var(--fw-bold));
    line-height: 1.2;
    margin-block-start: 0;
}


h1 {
    --heading-font-size: var(--fs-700);
}

h2 {
    --heading-font-size: var(--fs-600);
}

h3 {
    --heading-font-size: var(--fs-500);
}

h4,
h5,
h6 {
    --heading-font-size: var(--fs-400);
}



// -----------------------------------------------------------------------------
// Brand Styles
// -----------------------------------------------------------------------------

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__logo {
        height: 2.1cap;
        margin-right: var(--space-2xs);

        &--outlined {
            path {
                fill: transparent;
                stroke-width: 2.5px;
                stroke: var(--neutral-800);
            }
        }

        &--colored {
            .head {
                fill: var(--neutral-800);
            }

            .face {
                fill: var(--neutral-400);
            }
        }
    }

    &__name {
        color: var(--neutral-800);
        font-family: "Montserrat", sans-serif;
        font-size: var(--fs-300);
        font-weight: var(--fw-extrabold);
        letter-spacing: -.015ch;
    }
}



//
// Block 
//

.block {
    &__heading {
        --heading-foreground: var(--neutral-900);
        margin-block-start: 0;

        &--short {
            max-width: 20ch;
        }
    }
}


//
// 
//

.hero-region {
    --region-space: 8.8vmax;
    --cluster-gap: var(--space-s);
    text-align: center;

    &__heading {
        --heading-font-size: var(--fs-800);
        font-weight: var(--fw-extrabold);
    }

    & * {
        margin-inline: auto;
    }
}


// -----------------------------------------------------------------------------
// Benefits
// -----------------------------------------------------------------------------

//
// Benefits region
//

.benefits-region {
    &__heading {
        @media (width > 886px) {
            position: sticky;
            top: var(--space-l);
        }
    }

    &__item {
        &:not(:first-child) {
            margin-block-start: var(--space-xl-2xl);
        }
    }
}


// -----------------------------------------------------------------------------
// Showcases
// -----------------------------------------------------------------------------


//
// Showcase Region
//

.showcase-region {
    .carousel {
        padding-block: var(--space-s-l);
    }
}

//
// Showcase card styles
//

.showcase-card {
    --_showcase-foreground: var(--showcase-foreground);
    --_showcase-background: var(--showcase-background);

    $self: &;
    color: var(--_showcase-foreground);
    background: var(--showcase-background);
    display: block;
    position: relative;
    overflow: clip;
    border-radius: var(--radius-l);

    &__heading {
        --heading-foreground: var(--_showcase-foreground);
        font-size: var(--fs-300);
    }

    &__content {
        padding-block-start: var(--space-s-l);
        padding-inline: var(--space-m);

        #{ $self }__title {
            font-size: var(--fs-300);
        }

        #{ $self }__link {
            color: var(--_showcase-foreground);
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            padding-block: var(--space-xs);
        }
    }


    &__image {
        &:is(figure) {
            margin: 0;
            padding: 0;
        }

        display: flex;
        justify-content: center;
        align-content: flex-end;



        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            object-fit: contain;
        }
    }
}



//
// Showcases list page
//
.showcases .wrapper {
    .grid {
        margin-block-start: var(--space-s-l);
    }
}



//
// Showcase single page
//
.showcase {
    &__info {
        --sidebar-target-width: 26rem;
        background: var(--neutral-100);
        margin-block-start: var(--space-s-l);
        border-radius: var(--radius-xl);
        overflow: clip;

        &--title {
            color: var(--neutral-500);
            font-size: var(--fs-100);
            font-weight: var(--fw-regular);
        }

        &--image {
            &:is(figure) {
                margin: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        aside {
            padding: var(--space-m);
        }
    }

    &__content.content>* {
        animation: fadeIn linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
}



// -----------------------------------------------------------------------------
// Services
// -----------------------------------------------------------------------------

//
// Service region
// 
.service-region {
    $self: &;

    &__heading {
        max-width: 20ch;
    }

    &__item {

        &--title {
            font-size: var(--fs-300);
            padding-bottom: 1em;
            border-bottom: 2px solid var(--neutral-300);
        }
    }

    #{$self}__heading+.grid {
        margin-block-start: var(--space-m-l);
    }
}


//
// Services list page
//

.services {
    .block__heading+.grid {
        margin-block-start: var(--space-s-l);
    }

    &__item {

        &--title {
            font-size: var(--fs-300);
            padding-bottom: 1em;
            border-bottom: 2px solid var(--neutral-300);
        }
    }
}


//
// Service single page
//
.service {
    --sidebar-target-width: 430px;
}



// -----------------------------------------------------------------------------
// Services
// -----------------------------------------------------------------------------

//
// Contact Region
//

.contact-region {

    .card {
        padding: var(--space-m-l);
        border: 1px solid var(--neutral-100);
        border-radius: var(--radius-l);
        box-shadow: var(--shadow-m);
    }
}


// -----------------------------------------------------------------------------
// Testimonials
// -----------------------------------------------------------------------------

//
// Testimonial region
//

.testimonial-region {
    .carousel {
        scrollbar-color: var(--neutral-500) var(--neutral-50);

        &__item {
            --carousel-item-size: 95%;
            --carousel-item-max-size: auto;

            blockquote {
                --quote-line-color: var(--neutral-500);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                border-top: 1px solid var(--quote-line-color);
                border-bottom: 1px solid var(--quote-line-color);
                padding: var(--space-xl-2xl) var(--space-s-m);
                margin: 0;
                margin-inline-end: var(--space-s-l);

                p {
                    font-style: italic;
                    font-size: var(--fs-300);
                    max-width: 50ch;
                    display: inline;

                    &:before {
                        content: '“';
                    }
    
                    &:after {
                        content: '”';
                    }
                }

                span {
                    font-weight: var(--fw-semibold);
                }
            }
        }
    }
}



// -----------------------------------------------------------------------------
// Call to action
// -----------------------------------------------------------------------------

//
// Call to action Region
//

.cta-region {
    .banner {
        color: var(--neutral-50);
        background: var(--neutral-900);
        padding: var(--space-xl-2xl);
        border-radius: var(--radius-xl);
        text-align: center;

        &>*:is(p) {
            margin-inline: auto;
        }
    }
}



// -----------------------------------------------------------------------------
// Sub Footer
// -----------------------------------------------------------------------------

//
// Sub-footer
//

.sub-footer {
    padding-block-end: 0;

    &__inner {
        display: block;

        @media (width > 776px) {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-l-xl);
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__list {
        padding: 0;
    }

    .span2 {
        flex: 2;
        flex-grow: 999;
    }
}


// -----------------------------------------------------------------------------
// Site Footer
// -----------------------------------------------------------------------------


//
// Site Footer
//

.site-footer {
    &__inner {
        border-top: 1px solid var(--neutral-400);
        padding-block-start: var(--space-s-l);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        ul,
        ol {
            margin-block-start: 1rem;
            padding: 0;
        }
    }
}


// -----------------------------------------------------------------------------
// Misc - Still need to order this
// -----------------------------------------------------------------------------


//
//
//

.tags {
    --cluster-gap: 1rem;
    padding: 0;
    margin-inline: 0;

    li {
        display: block;

        a {
            text-decoration: none;
            color: var(--neutral-950);
            background: var(--neutral-200);
            font-size: var(--fs-100);
            padding: var(--space-3xs) var(--space-xs);
            border-radius: var(--radius-full);
        }
    }
}



//
//
//

.error404 {
    &__number {
        font-size: var(--fs-900);
        font-weight: var(--fw-extrabold);
    }

    &__title {
        margin-block-start: var(--space-s-l);
    }

    .wrapper {

        &> :is(p) {
            margin-inline: auto;
        }
    }
}




.widget {
    padding: var(--space-m);
    background: var(--neutral-100);

    &> :first-child:is(p) {
        margin-block-start: 0;
        font-weight: var(--fw-semibold);
    }
}

.fade-in {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.fade-in-left {
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.4;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}