@use "../abstracts" as *;

.site-header {
    $self: &;
    background: var(--site-header-bg-color, #{$site-header-background});
    padding-block: var(--site-header-padding-block, #{$site-header-block-padding});

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}



//
//
//

.site-header {
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &__inner {
        opacity: 1;
        pointer-events: auto;
    }

    &--fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: white;
        box-shadow: var(--shadow-xs);
        z-index: var(--layer-top);
    }

    &--hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-100%);
    }
}