{{ define "main" }}
<section class="[] [] [ region ]">
    <div class="wrapper sidebar">
        <div class="main-content">
            {{ partial "breadcrumb.html" . }}
            {{ .Content }}
        </div>
        <aside>
            <div class="widget flow">
                <h4 class="cta-title">Heb je hulp nodig bij je digitale avontuur? Deze gorilla staat paraat.</h4>
                <div class="flex-group">
                    <a href="/contact" class="button" data-button-variant="primary">Vrijblijvend advies</a>
                    <a href="/contact" class="button" data-button-ghost>Contact</a>
                </div>
            </div>
        </aside>
    </div>
</section>
<section class="[ faq-list ] [ bg-neutral-100 ] [ region ]">
    <div class="wrapper wrapper--wide">
        <h2 class="block-title">Veel gestelde vragen</h2>
        {{ range .Params.faq }}
        <details class="accordion">
            <summary>
                {{ .vraag }}
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                    <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </summary>
            <p>{{ .antwoord | markdownify }}</p>
        </details>
        {{ end }}
    </div>
</section>
{{ end }}