{{ define "main" }}
<section class="[] [] [ region ]">
    <div class="wrapper sidebar">
        <div class="main-content">
            {{ partial "breadcrumb.html" . }}
            {{ .Content }}
        </div>
        <aside>
            <div class="widget flow">
                <h4 class="cta-title">Heb je hulp nodig bij je digitale avontuur? Deze gorilla staat paraat.</h4>
                <div class="flex-group">
                    <a href="/contact" class="button" data-button-variant="primary">Vrijblijvend advies</a>
                    <a href="/contact" class="button" data-button-ghost>Contact</a>
                </div>
            </div>
        </aside>
    </div>
</section>
<section class="[ faq-list ] [ bg-neutral-100 ] [ region ]">
    <div class="wrapper wrapper--small flow fade-in">
        <h2 class="block-title">Veel gestelde vragen</h2>
        {{ range .Params.faq }}
            <details class="faq flow">
                <summary>{{ .vraag }}</summary>
                <p>{{ .antwoord | markdownify }}</p>
            </details>
        {{ end }}
    </div>
</section>
{{ end }}