{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<section class="[ service ] [] [ region ]">
    <div class="wrapper sidebar">
        <div class="service-region__body flow">
            {{ .Content }}
        </div>
        <aside class="flow">
            <div class="widget flow">
                <p class="fs-300">{{ i18n "services.cta" }}</p>
                <a href="/contact" class="button" data-button-ghost>{{ i18n "free_advice" }}</a>
                <a href="/contact" class="button" data-button-variant="accent">{{ i18n "start_project" }}</a>
            </div>
        </aside>
      </div>
</section>
{{ partial "block/call-to-action.html" . }}
{{ end }}