.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    padding: 0;
}

.breadcrumb li {
    list-style: none;
}

.breadcrumb li:not(:last-child)::after {
    content: "»";
}

.breadcrumb li a {
    font-size: var(--fs-100);
    text-decoration: none;
    color: inherit;
    padding: var(--space-2xs);

    &:hover:not([aria-current]) {
        color: var(--primary-500)
    }

    &[aria-current="page"] {
        font-weight: bold;
        color: var(--neutral-700);
        cursor: default;
    }
}