@use "../abstracts" as *;

.card {
    --_card-foreground: var(--card-foreground, #{$card-foreground});
    --_card-background: var(--card-background, #{$card-background});
    --_card-padding: var(--card-padding, #{$card-padding});
    --_card-flow: var(--card-flow, var(--flow-space));
    --_card-border-radius: var(--card-border-radius, #{$global-border-radius});
    --_card-box-shadow: var(--card-box-shadow, #{$card-box-shadow});

    position: relative;
    overflow: clip;
    display: flex;
    flex-direction: column;
    color: var(--_card-foreground);
    background: var(--_card-background);
    border-radius: var(--_card-border-radius);
    box-shadow: var(--_card-box-shadow);

    & > *:not(img, figure) {
        padding-inline: var(--_card-padding);

        &:is(:first-child) {
            padding-block-start: var(--_card-padding);
        }

        &:is(:last-child) {
            padding-block-end: var(--_card-padding);
        }
    }
}