@use "../abstracts" as *;


details.dropdown {
    position: relative;
    display: block;
    max-width: auto;
    margin-block-end: var(--space-s);
  
    > summary {
      cursor: pointer;
      user-select: none;
      padding: var(--space-xs) var(--space-s);
      border: 1px solid var(--neutral-200);
      text-align: start;
      display: inline-flex;
      list-style: none; // onderdrukt standaard marker
      line-height: inherit;
      justify-content: space-between;
  
      &::marker {
        display: none; // verberg standaard driehoek in Safari/Chrome
      }
  
      &::after {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1.5em;
        margin-inline-start: 0.5rem;
        background-image: #{$icon-chevron};
        background-position: center right;
        background-size: 1em auto;
        background-repeat: no-repeat;
        transition: rotate 0.2s ease;
        vertical-align: middle;
      }
    }
  
    &[open] > summary::after {
      rotate: 180deg;
    }
  
    // Dropdown-menu zelf
    > ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      background: var(--color-background, white);
      border: 1px solid var(--neutral-200);
      margin: 0;
      padding: var(--space-xs) 0;
      list-style: none;
      min-width: 12rem;
      border-radius: var(--radius-m);
    }
  
    > ul li a {
      display: block;
      padding: var(--space-xs) var(--space-s);
      text-decoration: none;
      color: var(--color-text, #333);
  
      &:hover {
        background-color: var(--color-hover, #f0f0f0);
      }
    }
  }