@use "../abstracts" as *;

label {
    color: var(--neutral-950);
    font-size: var(--fs-100);
    font-weight: var(--fw-semibold);
}

input,
select,
textarea {
    --_input-foreground: var(--input-foreground, #{$input-foreground});
    --_input-background: var(--input-background, #{$input-background});

    --_input-padding: var(--input-padding, #{$input-padding});

    --_input-border-width: var(--input-border-width, #{$input-border-width});
    --_input-border-style: var(--input-border-style, #{$input-border-style});
    --_input-border-color: var(--input-border-color, #{$input-border-color});

    --_input-border-radius: var(--input-border-radius, #{$input-border-radius});

    position: relative;
    color: var(--_input-foreground);
    background: var(--_input-background);
    width: 100%;
    padding: var(--_input-padding);

    border-width: var(--_input-border-width);
    border-style: var(--_input-border-style);
    border-color: var(--_input-border-color);

    border-radius: var(--_input-border-radius);

    &::placeholder {
        color: var(--neutral-400);
    }
}


select {
    --select-icon: #{$icon-chevron};
    appearance: none;
    background-image: var(--select-icon);
    background-position: center right .75rem;
    background-size: 1.125rem auto;
    background-repeat: no-repeat;
}


textarea {
    resize: vertical;
    min-width: 100%;
    min-height: 5em;
}


.field-group > * + * {
    margin-block-start: .5rem;
}