{{ define "main" }}
{{ partial "components/breadcrumb.html" . }}
<section class="[ contact ] [] [ region ]">
    <div class="wrapper">
        <div class="switcher">
            <div class="flow">
                <h1>{{ .Params.heading }}</h1>
                {{ .Content }}

                <address>
                    {{ site.Params.street_address }} <br>
                    {{ site.Params.postal_code }} {{ site.Params.city }} <br>
                    Nederland
                </address>

                <h4 class="color-primary-950">Gorilla<span class="fw-light">Made</span> socials</h4>
                <nav>
                    <ul class="socials cluster" role="list">
                        {{ range .Site.Params.social_profiles }}
                        <li>
                            {{- $link := .link -}}
                            {{ if strings.HasPrefix $link "nostr:" }}
                            <a href="{{ .link | safeURL }}" aria-label="link naar {{ .name }}"><ion-icon
                                    src="{{ .icon | relURL }}" size="large" name="logo-{{ .name }}"></ion-icon><span
                                    class="visually-hidden">{{ .platform }}</span></a>
                            {{ else }}
                            <a href="{{ .link }}" aria-label="link naar {{ .name }}"><ion-icon size="large"
                                    name="logo-{{ .name }}"></ion-icon><span class="visually-hidden">{{ .platform
                                    }}</span></a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>

            <div>
                {{ partial "forms/contact-form.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }}