<div class="[ sub-footer ] [ full-width ] [ region bg-neutral-50 ]">
    
        <ul class="grid" role="list" data-max-col-count="5">

            <div class="flow span-2">
                <h3 class="fs-400">Over GorillaMade</h3>
                <p>Jouw partner voor alles web: van handgemaakte websites tot techniek en SEO, volledig afgestemd op jouw
                    bedrijf.</p>
            </div>
            <div class="flow">
                <h3 class="fs-400">Quick links</h3>
                <nav>
                    <ul role="list">
                        {{ range .Site.Menus.site }}
                        <li>
                            <a href="{{ .PageRef }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <div class="flow">
                <h3 class="fs-400">Directe links</h3>
                <nav>
                    <ul role="list">
                        {{ range .Site.Menus.service }}
                        <li>
                            <a href="{{ .PageRef }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <div class="flow">
                <h3 class="fs-400">Socials</h3>
                <nav>
                    <ul class="cluster" role="list">
                        {{ range .Site.Params.socials }}
                        <li>
                            {{- $link := .link -}}
                            {{ if strings.HasPrefix $link "nostr:" }}
                            <a href="{{ .link | safeURL }}" aria-label="link naar {{ .name }}"><ion-icon src="{{ .icon | relURL }}" size="large" name="logo-{{ .name }}"></ion-icon><span class="visually-hidden">{{ .platform }}</span></a>
                            {{ else }}
                            <a href="{{ .link }}"><ion-icon size="large" name="logo-{{ .name }}"></ion-icon></a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>

        </ul>
    
</div>