<section class="[ benefits-region ] [ ] [ region ]">
    <div class="wrapper">
        <div class="switcher flow">
            <h2 class="benefits-region__heading fade-in-left">{{ .heading }}</h2>
            <div class="content flow">
                {{/*  {{ $lang := site.Language.Lang }}
                {{ $benefits := index site.Data $lang "benefits" }}  */}}
                {{ range site.Data.benefits }}
                <div class="benefits-region__item flow fade-in">
                    <h3 class="fs-400 flex-group"><ion-icon name="{{ .icon }}"></ion-icon> {{ .title }}</h3>
                    <small><em>{{ .subtitle }}</em></small>
                    <p>{{ .text }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>