<section class="[ hero-region ] [] [ region ]">
    <div class="wrapper flow">
        <h1 class="hero-region__heading">{{ .Params.block_hero.heading }}</h1>
        <p>{{ .Params.block_hero.body | markdownify }}</p>
        <div class="flex-group">
            <a href="{{ .Params.block_hero.button.primary.url }}" class="button" data-button-variant="primary">{{ .Params.block_hero.button.primary.text }}</a>
            <a href="{{ .Params.block_hero.button.secondary.url }}" class="button" data-button-variant="accent">{{ .Params.block_hero.button.secondary.text }}</a>
        </div>
    </div>
</section>