<section class="[ service-region ] [] [ region ]">
    <div class="wrapper">
        <h2 class="block__heading">{{ .Params.block_services.heading }}</h2>
        <ul class="grid" role="list" data-layout="halves">
            {{ range where (where site.RegularPages "Type" "service") "Params.featured" true }}
            <li class="fade-in-left">
                <div class="flow">
                    <h3 class="fs-400">{{ .Title }}</h3>
                    <p>{{ .Summary | plainify | truncate 150 }}</p>
                    <a href="{{ .RelPermalink }}" class="button" data-button-ghost>Meer informatie</a>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>