.content {
    --content-gap: clamp(1rem, 6dvw, 3rem);
    --content-full: minmax(var(--content-gap), 1fr);
    --content-main: min(65ch, 100% - var(--content-gap) * 2);
    --content-popout: minmax(0, 2rem);
    --content-feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--content-full)
        [feature-start] var(--content-feature)
        [popout-start] var(--content-popout)
        [main-start] var(--content-main) [main-end]
        var(--content-popout) [popout-end]
        var(--content-feature) [feature-end]
        var(--content-full) [full-end];


    & > * {
        grid-column: main;
    }
    
    .popout {
        grid-column: popout;
    }
    
    .feature {
        grid-column: feature;
    }
    
    .full {
        grid-column: full;
    }
}