// -----------------------------------------------------------------------------
// Stack - Stacks elements ontop of eachother
// -----------------------------------------------------------------------------

.stack {
    display: grid;
    grid-template-areas: "stack";
    place-content: center;

    & > * {
        grid-area: stack;
    }
}