{{ define "main" }}
{{ partial "components/breadcrumb.html" . }}
<section class="[ services ] [] [ region ]">
    <div class="wrapper">
        <h1 class="block__heading">{{ .Params.heading }}</h1>

        <ul class="grid" role="list" data-layout="halves">
            {{ range .Pages }}
                <li class="services__item flow">
                    <h2 class="fs-400">{{ .LinkTitle }}</h2>
                    <p>{{ .Summary | plainify | truncate 150 }}</p>
                    <a href="{{ .RelPermalink }}" class="button" data-button-ghost>{{ i18n "more_info" }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ partial "blocks/call-to-action.html" . }}
{{ end }}