{{ with site.Params.analytics.google }}
    {{ if .enable }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '{{ .id }}');
    </script>
    {{ end }}
{{ end }}


{{ with site.Params.analytics.umami }}
    {{ if .enable }}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="{{ .website_id }}"></script>
    {{ end }}
{{ end }}