{{ with .Site.Params.schema.localbusiness }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "{{ .name }}",
  "image": "{{ .logo | absURL }}",
  "url": "{{ .url }}",
  "telephone": "{{ .phone }}",
  "email": "{{ .email }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ .street }}",
    "addressLocality": "{{ .city }}",
    "postalCode": "{{ .postalCode }}",
    "addressCountry": "{{ .country }}"
  },
  "openingHours": "{{ .openingHours }}",
  "priceRange": "{{ .priceRange }}",
  "description": "{{ .description }}",
  "sameAs": [
    {{- $first := true -}}
    {{- range site.Params.socials }}
      {{- if strings.HasPrefix .link "http" }}
        {{- if not $first }}, {{ end }}"{{ .link }}"{{ $first = false }}
      {{- end }}
    {{- end }}
  ]
}
</script>
{{ end }}