@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

body {
    color: var(--body-foreground, #{$body-foreground});
    background: var(--body-background, #{$body-background});
    font-family: var(--body-font-family, #{$body-font-family});
    font-size: var(--body-font-size, #{$body-font-size});
    font-weight: var(--body-font-weight, #{$body-font-weight});
    line-height: var(--body-line-height, #{$body-line-height});
}



// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

a:not([class]) {
    --_link-foreground: var(--link-foreground, #{$link-foreground});
    --_link-foreground-hover: var(--link-foreground-hover, #{$link-foreground-hover});

    text-decoration: none;
    color: var(--_link-foreground);

    &:hover {
        color: var(--_link-foreground-hover);
    }
}