{{ define "main" }}
    {{ partial "block/hero.html" . }}
    {{ partial "block/showcases.html" . }}
    <section class="[ text-region ] [ bg-neutral-100 ] [ region ]">
        <div class="wrapper wrapper--small flow fade-in" style="text-align: center;">
            {{ .Content }}
        </div>
    </section>
    {{ with .Params.benefits }}
        {{ partial "block/benefits.html" . }}
    {{ end }}
    {{ with .Params.features }}
        {{ partial "block/features.html" . }}
    {{ end }}
    {{ with .Params.testimonial }}
        {{ partial "block/testimonials.html" . }}
    {{ end }}
    
{{ end }}