@forward "globals";
@forward "compositions";
@forward "utilities";
@forward "blocks";


//
//
//

h1, h2, h3 {
    color: var(--heading-foreground, var(--neutral-900));
    font-family: "Montserrat", sans-serif;
    font-size: var(--heading-font-size, inherit);
    font-weight: var(--heading-font-weight, var(--fw-bold));
    line-height: 1.2;
    margin-block-start: 0;
}

h1 {
    --heading-font-size: var(--fs-700);
}

h2 {
    --heading-font-size: var(--fs-600);
}

h3 {
    --heading-font-size: var(--fs-500);
}



// -----------------------------------------------------------------------------
// Brand
// -----------------------------------------------------------------------------

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__logo {
        height: 2.1cap;
        margin-right: 0.5rem;

        &--outlined {
            path {
                fill: transparent;
                stroke-width: 2.5px;
                stroke: var(--neutral-800);
            }
        }

        &--colored {
            .head {
                fill: var(--neutral-800);
            }

            .face {
                fill: var(--neutral-400);
            }
        }
    }


    &__name {
        color: var(--neutral-800);
        font-family: "Montserrat", sans-serif;
        font-size: var(--fs-300);
        font-weight: var(--fw-extrabold);
        letter-spacing: -.015ch;
    }
}



// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

.block {
    &__heading {
        --heading-font-weight: var(--fw-extrabold);
        margin-block-start: 0;

        & + .grid {
            margin-block-start: var(--space-s-l);
        }
    }
}


.widget {
    border-radius: var(--radius-l);
    padding: var(--space-m);

    &--sticky {
        position: sticky;
        top: var(--space-s-l);
    }

    & > :first-child:is(p) {
        margin-block-start: 0;
        font-weight: var(--fw-semibold);
    }
}



.tags {
    --cluster-gap: 1rem;
    padding: 0;
    margin-inline: 0;

    li {
        display: block;

        a {
            text-decoration: none;
            color: var(--neutral-950);
            background: var(--neutral-200);
            font-size: var(--fs-100);
            padding: var(--space-3xs) var(--space-xs);
            border-radius: var(--radius-full);
        }
    }
}


// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

.hero-region {
    --region-space: 8.8vmax;
    text-align: center;

    &__heading {
        --heading-font-size: var(--fs-800);
        font-weight: var(--fw-extrabold);
    }

    & * {
        &:is(p) {
            max-width: 60rem;
        }

        margin-inline: auto;
    }
}



//
//
//

.showcase {
    &__content.wrapped-content > * {
        animation: fadeIn linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
}



// -----------------------------------------------------------------------------
// Benefits
// -----------------------------------------------------------------------------

//
// Benefits region
//

.benefits-region {
    &__heading {
        @media (width > 886px) {
            position: sticky;
            top: var(--space-l);
        }
    }

    &__item {
        &:not(:first-child) {
            margin-block-start: var(--space-xl-2xl);
        }
    }
}



// -----------------------------------------------------------------------------
// About
// -----------------------------------------------------------------------------

.about {
    &__image {
        overflow: clip;
        border-radius: var(--radius-m);
        box-shadow: var(--shadow-xl);
        margin-inline: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }
}



// -----------------------------------------------------------------------------
// Testimonials
// -----------------------------------------------------------------------------

//
// Testimonial region
//

.testimonial-region {
    .carousel {
        --reel-scroll-bar-track-color: var(--neutral-200);
        --reel-scroll-bar-thumb-color: var(--neutral-400);

        margin-block-start: var(--space-s-m);

        &__item {
            
            --carousel-item-size: calc(100% - var(--space-xl-2xl));
            --carousel-item-max-size: auto;

            --quote-line-color: var(--neutral-500);

            border-top: 1px solid var(--quote-line-color);
            border-bottom: 1px solid var(--quote-line-color);
            border-radius: 0;

            blockquote {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
                padding-block: var(--space-s-m);
                margin: 0;

                p {
                    font-style: italic;
                    font-size: var(--fs-300);
                    max-width: 50ch;
                    display: inline;

                    &:before {
                        content: '“';
                    }
    
                    &:after {
                        content: '”';
                    }
                }

                span {
                    font-weight: var(--fw-semibold);
                }
            }
        }
    }
}



// -----------------------------------------------------------------------------
// Call to action
// -----------------------------------------------------------------------------

//
// Call to action Region
//

.cta-region {
    .banner {
        color: var(--neutral-50);
        background: var(--neutral-900);
        padding: var(--space-xl-2xl);
        border-radius: var(--radius-xl);
        text-align: center;

        &>*:is(p) {
            margin-inline: auto;
        }
    }
}



// -----------------------------------------------------------------------------
// Sub Footer
// -----------------------------------------------------------------------------

//
// Sub-footer
//

.sub-footer {
    padding-block-end: 0;

    &__inner {
        display: block;

        @media (width > 776px) {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-l-xl);
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__list {
        padding: 0;
    }

    .span2 {
        flex: 2;
        flex-grow: 999;

        max-width: 50ch;
    }
}


// -----------------------------------------------------------------------------
// Site Footer
// -----------------------------------------------------------------------------


//
// Site Footer
//

.site-footer {
    --region-space: 3.3vmax;

    &__inner {
        border-block-start: 1px solid var(--neutral-200);
        padding-block-start: var(--space-s-l);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        ul,
        ol {
            margin-block-start: 1rem;
            padding: 0;
        }
    }
}




// -----------------------------------------------------------------------------
// Contact form
// -----------------------------------------------------------------------------

.contact {
    .terugbellen {
        display: flex;
        gap: 1rem;
        align-items: center
    }
}




// -----------------------------------------------------------------------------
// 404 Page not found
// -----------------------------------------------------------------------------

.error404-region {
    &__number {
        color: var(--neutral-950);
        font-size: var(--fs-900);
        font-weight: var(--fw-extrabold);
    }

    &__title {
        margin-block: 0 var(--space-s-l);
    }

    .wrapper {

        &> :is(p) {
            margin-inline: auto;
        }
    }
}



// -----------------------------------------------------------------------------
// Animation(s)
// -----------------------------------------------------------------------------

// Fade In
.fade-in {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.4;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}



// Fade in from left
.fade-in-left {
    animation: fadeInLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

//
//
//

.breakout {
    width: calc(50% + 50vw);
    width: calc(50% + 50cqw);
}