<section class="[ service-region ] [ ] [ region ]">
    <div class="wrapper flow">

        <h2 class="service-region__heading fade-in-left">{{ .heading }}</h2>
        <div class="grid" data-layout="halves">
            {{ range where (where site.RegularPages "Type" "services") "Params.featured" true }}
            <div class="service-region__item flow fade-in-left">
                <h3 class="service-region__item--title">{{ .Title }}</h3>
                <p>{{ .Summary | plainify | truncate 150 }}</p>
                <a href="{{ .RelPermalink }}" class="button" data-button-ghost>Meer informatie</a>
            </div>
            {{ end }}
        </div>

    </div>
</section>