<header class="site-header site-header--sticky">
  <div class="site-header__inner">
    <a href="/" class="brand">
      <svg class="brand__logo brand__logo--colored" style="isolation:isolate" height="36" width="35"
        viewBox="0 0 40 41">
        <path class="head"
          d=" M 20.003 38.227 C 13.093 38.227 4.48 32.435 4.007 25.575 C 3.971 25.056 4.073 24.233 4.234 23.739 C 7.708 13.069 8.764 1.773 20.003 1.773 C 31.242 1.773 32.452 13.742 35.785 23.741 C 35.95 24.234 36.039 25.055 35.984 25.572 C 35.142 33.51 26.913 38.227 20.003 38.227 Z ">
        </path>
        <path class="face"
          d=" M 20.013 38.225 C 10.924 38.225 10.263 32.017 10.263 29.753 C 10.263 27.489 12.953 23.367 12.953 23.367 C 12.953 23.367 8.512 17.787 10.801 15.498 C 12.554 13.745 16.411 17.515 20.003 17.515 C 20.02 17.515 20.037 17.515 20.054 17.515 L 20.079 17.515 C 20.088 17.515 20.096 17.515 20.105 17.515 C 23.697 17.515 27.554 13.745 29.307 15.498 C 31.596 17.787 27.155 23.367 27.155 23.367 C 27.155 23.367 29.845 27.489 29.845 29.753 C 29.845 32.017 29.184 38.225 20.095 38.225 L 20.054 38.225 L 20.013 38.225 Z ">
        </path>
      </svg>
      <span class="brand__name">Gorilla<span>Made</span></span>
    </a>
    <button class="hamburger" aria-label="toggle mobile menu">
      <span class="bar bar--1"></span>
      <span class="bar bar--2"></span>
      <span class="bar bar--3"></span>
    </button>
    {{ partial "shared/site-nav.html" (dict "menuID" "main" "page" .) }}
    <button id="theme-toggle" class="theme-toggle--button" aria-label="Switch theme color">
        <span class="theme-light"><ion-icon name="moon-outline"></ion-icon></span>
        <span class="theme-dark"><ion-icon name="sunny-outline"></ion-icon></span>
    </button>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('.site-nav');

    hamburger.addEventListener('click', function () {
      this.classList.toggle('open');
      nav.classList.toggle('open');
    });
  });
</script>