{{ define "main" }}
{{ partial "components/breadcrumb.html" . }}
<section class="[ showcase ] [] [ region ]">
    <div class="wrapper flow">
        <h1>{{ .Title }}</h1>
        <div class="showcase__info sidebar">
            <figure class="showcase__info--image" style="background: {{ .Params.images.background }};">
                <img src="{{ .Params.images.full }}" width="1280" height="525.71" alt="">
            </figure>
            <aside>
                <ul class="flow" role="list">
                    <li class="flow">
                        <span class="fs-100 fw-semibold">{{ i18n "client"}}</span>
                        <p>{{ .Params.client.company }}</p>
                    </li>
                    <li class="flow">
                        <span class="fs-100 fw-semibold">{{ i18n "tags"}}</span>
                        {{ with .Params.tags }}
                        <ul class="tags cluster" role="list">
                            {{ range . }}
                            <li><a class="tag" href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                    <li class="flow">
                        <span class="fs-100 fw-semibold">{{ i18n "view_result"}}</span>
                        <a href="{{ .Params.project_url }}" class="button">Bezoek de website</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>
<article class="[ showcase__content ] [ wrapped-content ] [ flow ]">
    {{ .Content }}
</article>
{{ partial "blocks/call-to-action.html" . }}
{{ end }}