{{ define "main" }}
{{ partial "blocks/hero.html" . }}
<section class="[ showcase-reel ] [ bg-neutral-100 ] [ region ]">
    <div class="wrapper fade-in">
        <h2 class="block-title">Digitale successen uit mijn jungle</h2>
        <div class="carousel breakout">
            <ul class="carousel__track" role="list">
                {{ range where (where site.RegularPages "Type" "showcases") "Params.featured" true }}
                <li class="carousel__item">
                    {{ .Render "card" }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
<section class="[ text-block ] [ ] [ region ]">
    <div class="wrapper wrapper--small text--centered fade-in">
        <h2 class="block-title">Digitale dominantie begint hier</h2>
        <p>GorillaMade staat voor kracht, betrouwbaarheid en eenvoud. Voor kleine bedrijven met groeipotentie in Tilburg
            en omstreken bouwen we sterke, snelle en veilige websites. Met een stevige digitale basis groeit jouw
            bedrijf online, net als een gorilla: krachtig, geduldig en vol vertrouwen.</p>
    </div>
</section>
<section class="[ benefits ] [ bg-neutral-100 ] [ region ]">
    <div class="wrapper">
        <div class="switcher">
            <div>
                <h2 class="block-title fade-in-left">Van banaan tot byte, jij zit goed</h2>
            </div>
            <div>
                <ul role="list">
                    {{ range .Params.block_benefits.list }}
                    <li class="fade-in">
                        <div class="flow color-neutral-700">
                            <h3 class="flex-group"><ion-icon name="{{ .icon }}" size="large"></ion-icon> {{ .title }}</h3>
                            <small>{{ .description }}</small>
                            <p>{{ .body | markdownify }}</p>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="[ services ] [] [ region ]">
    <div class="wrapper flow">
        <h2 class="block-title">Mijn specialiteiten als jouw digitale gorilla</h2>
        <ul class="grid" role="list" data-layout="halves">
            {{ range where site.RegularPages "Type" "services" }}
            <li class="fade-in-left">
                <div class="flow">
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Summary | plainify | truncate 120 }}</p>
                    <a href="{{ .RelPermalink }}" class="button" data-button-ghost>{{ i18n "more_info" }}</a>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ partial "blocks/testimonials.html" . }}
{{ end }}