{{ if .enable }}
<section class="[ testimonials ] [ full-width ] [ region {{ .background }} ]">
    <span class="tagline">{{ .tagline }}</span>
    <h2 class="section-title">{{ .heading }}</h2>
    <ul class="grid" role="list" data-max-col-count="3">
        {{ range site.Data.shared.testimonials }}
            <li class="">
                <div class="testimonial">
                    <blockquote>
                        {{ .quote | markdownify }}
                    </blockquote>
                    <div class="flex-group">
                        <img class="testimonial__image" width="48" height="48" src="{{ .avatar }}" alt="">
                        <span class="testimonial__title fs-300 fw-bold color-neutral-800">{{ .name }}</span>
                    </div>
                </div>
            </li>
        {{ end }}
    </ul>
</section>
{{ end }}