{{ if .enable }}
<section class="[ testimonials ] [ full-width ] [ region bg-neutral-50 ]">
    <span class="tagline">{{ .tagline }}</span>
    <h2 class="section-title">{{ .heading }}</h2>
    <ul class="grid" role="list" data-max-col-count="3">
        {{ range site.Data.shared.testimonials }}
            <li class="">
                <div class="testimonial">
                    <blockquote>
                        {{ .quote | markdownify }}
                    </blockquote>
                    <div class="flex-group">
                        <img class="testimonial__image" width="48" height="48" src="{{ .avatar }}" alt="">
                        <div>
                            <h4>{{ .name }}</h4>
                            <span class="fs-300">{{ .website }}</span>
                        </div>
                    </div>
                </div>
            </li>
        {{ end }}
    </ul>
</section>
{{ end }}