<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "logo": "{{ .Site.Params.logo | absURL }}",
    "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "{{ .Site.Params.phone }}",
    "contactType": "customer service",
    "areaServed": "{{ .Site.Params.area_served | default .Site.Params.city }}",
    "availableLanguage": ["{{ .Site.LanguageCode | default "nl" }}"]
    },
    "sameAs": [
    {{ range $index, $element := .Site.Params.social_profiles }}
        {{ if $index }},{{ end }}
        "{{ $element }}"
    {{ end }}
    ]
}
</script>