{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<section class="[ contact-region ] [] [ region ]">
    <div class="wrapper flow">
        <h1 class="block__heading">{{ .Title }}</h1>
        <p class="fs-300">Niet aarzelen – brul mij een bericht!</p>
        <p>{{- .Content -}}</p>
        <div class="switcher flow">
            <div class="card flow">
                {{ partial "form/contact.html" . }}
            </div>
            <div class="flow">

                <address>
                    {{ site.Params.business.address.street }} <br>
                    {{ site.Params.business.address.postalCode }} {{ site.Params.business.address.city }} <br>
                    Nederland
                </address>

                <div>
                    <code>hallo@gorillamade.nl</code>
                </div>
                <h4>Socials</h4>
                <nav>
                    <ul class="cluster" role="list">
                        {{ range .Site.Params.socials }}
                        <li>
                            {{- $link := .link -}}
                            {{ if strings.HasPrefix $link "nostr:" }}
                            <a href="{{ .link | safeURL }}" aria-label="link naar {{ .name }}"><ion-icon
                                    src="{{ .icon | relURL }}" size="large" name="logo-{{ .name }}"></ion-icon><span
                                    class="visually-hidden">{{ .platform }}</span></a>
                            {{ else }}
                            <a href="{{ .link }}" aria-label="link naar {{ .name }}"><ion-icon size="large" name="logo-{{ .name }}"></ion-icon><span
                                class="visually-hidden">{{ .platform }}</span></a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{{ end }}