{{ define "main" }}
{{ partial "blocks/hero.html" . }}
{{ partial "blocks/showcases.html" . }}
<section class="[ text-region ] [ bg-neutral-100 ] [ region ]">
  <div class="wrapper wrapper--wide flow fade-in text--centered">
    {{ .Content }}
  </div>
</section>
{{ with .Params.block_benefits }}
  {{ partial "blocks/benefits.html" . }}
{{ end }}
{{ with .Params.block_about }}
  {{ partial "blocks/about.html" . }}
{{ end }}
{{ partial "blocks/services.html" . }}
{{ partial "blocks/testimonials.html" . }}
{{ partial "blocks/call-to-action.html" . }}
{{ end }}