// -----------------------------------------------------------------------------
// Grid
// -----------------------------------------------------------------------------

.grid {
    --_grid-max-col-count: var(--grid-max-col-count, attr(data-max-col-count type(<number>), 3));
    --_grid-min-col-size: var(--grid-min-col-size, 20rem);
    --_grid-gap: var(--grid-gap, 2rem);

    /* Calculations, do not touch */
    --_grid-col-size-calc: calc(
        (100% - var(--_grid-gap) * var(--_grid-max-col-count)) / var(--_grid-max-col-count)
    );
    --_grid-col-min-size-calc: calc(
        min(100%, max(var(--_grid-min-col-size), var(--_grid-col-size-calc)))
    );

    display: grid;
    gap: var(--_grid-gap);
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--_grid-col-min-size-calc), 1fr)
    );
}



// -----------------------------------------------------------------------------
// Grid  - This is needed for chromium browsers
// -----------------------------------------------------------------------------

.grid {
    &[data-max-col-count="2"] {
        --grid-max-col-count: 2;
    }

    &[data-max-col-count="3"] {
        --grid-max-col-count: 3;
    }

    &[data-max-col-count="4"] {
        --grid-max-col-count: 4;
    }

    &[data-max-col-count="5"] {
        --grid-max-col-count: 5;
    }
}