@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Page - Layout stucture for pages
// -----------------------------------------------------------------------------

.page,
.full-width {
    --_page-padding-inline: var(--page-padding-inline, #{$page-padding-inline});

    --_page-main-max-width: var(--page-main-max-width, #{$page-main-max-width});
    --_page-expand-max-width: var(--page-expand-max-width, #{$page-expand-max-width});
    --_page-wide-max-width: var(--page-wide-max-width, #{$page-wide-max-width});

    /* Calculations - do not touch */
    --page-full-calc: minmax(var(--_page-padding-inline), 1fr);
    --page-wide-calc: minmax(0, calc((var(--_page-wide-max-width) - var(--_page-expand-max-width)) * .5 ));
    --page-expand-calc: minmax(0, calc((var(--_page-expand-max-width) - var(--_page-main-max-width)) * .5 ));
    --page-main-calc: min(var(--_page-main-max-width), 100% - (var(--_page-padding-inline) * 2));

    display: grid;
    grid-template-columns:
        [full-start] var(--page-full-calc)
        [wide-start] var(--page-wide-calc)
        [expand-start] var(--page-expand-calc)
        [main-start] var(--page-main-calc) [main-end]
        var(--page-expand-calc) [expand-end]
        var(--page-wide-calc) [wide-end]
        var(--page-full-calc) [full-end];

    & > :not(.full-width, .full, .wide, .expand) {
        grid-column: main;
    }
}


.page,
.full-width {
    .main-section {
        grid-column: main;
    
        &-start {
            grid-column-start: main-start;
        }
    
        &-end {
            grid-column-start: main-end;
        }
    }
    
    
    .expand {
        grid-column: expand;
    
        &-start {
            grid-column-start: expand-start;
        }
    
        &-end {
            grid-column-start: expand-end;
        }
    }
    
    
    .wide {
        grid-column: wide;
    
        &-start {
            grid-column-start: wide-start;
        }
    
        &-end {
            grid-column-start: wide-end;
        }
    }
    
    
    .full {
        grid-column: full;
    
        &-start {
            grid-column-start: full-start;
        }
    
        &-end {
            grid-column-start: full-end;
        }
    }
}

.full-width {
    grid-column: full;
}