@use "../abstracts" as *;

.with-aside {
    --_with-aside-content-width: var(--with-aside-content-width, #{$with-aside-content-width});
    --_with-aside-aside-width: var(--with-aside-aside-width, #{$with-aside-aside-width});
    --_with-aside-gap: var(--with-aside-gap, #{$with-aside-gap});

    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: var(--with-aside-gap);

    & > *:not(aside) {
        flex-basis: var(--_with-aside-content-width);
        flex-grow: 9999;
    }

    & > *:is(aside) {
        flex-basis: var(--_with-aside-aside-width);
        flex-grow: 1;
    }
}